<!-- chat/templates/chat/room.html -->
<style>
    #chat-button {
        background-color: #7857DC;
        color: white;
        border-radius: 2rem;
        font-size: 2rem;
        padding: 2rem;
        font-weight: 900;
        z-index: 101;
    }
    .hidden {
        display: none;
    }
</style>
<button class="nav-button" id="chat-button" onclick="join_chat()">Join chat</button>
<div id="chat-container" class="hidden">
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
</div>