<!-- chat/templates/chat/room.html -->
<style>
    #chat-button {
        background-color: #7857DC;
        color: white;
        border-radius: 2rem;
        font-size: 2rem;
        padding: 2rem;
        font-weight: 900;
        z-index: 101;
    }
    .hidden {
        display: none;
    }
</style>
{{ room_name|json_script:"room-name" }}
<button class="nav-button" id="chat-button" onclick="join_chat()">Join chat</button>
<div id="chat-container" class="hidden container-fluid chat">
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
        <div class="div-chat-text" id="chat-content"></div>
        <input id="chat-message-input" type="text" size="100">
        <input id="chat-message-submit" type="button" value="Send">
    </section>
</div>