
<!-- chat/templates/chat/room.html -->
<style>
    #chat-button {
        background-color: #7857DC;
        color: white;
        border-radius: 2rem;
        font-size: 2rem;
        padding: 2rem;
        font-weight: 900;
        z-index: 101;
    }
    .hidden {
        display: none;
    }
</style>
{{ room_name|json_script:"room-name" }}
<main id="game-body">
    <div id="game-container">
        <button class="nav-button" id="chat-button" onclick="join_chat()">Join chat</button>
    </div>

<div id="chat-container" class="hidden col-10">
    <div id="chat-title">
        <h2>Chat from {{ a_name }} and {{ b_name }}</h2>
    </div>
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
        <div class="div-chat-text" id="chat-content"></div>
        <div class="chat-controls">
            <input id="chat-message-input" class="form-control" type="text">
            <input id="chat-message-submit" class="btn-purple fw-bold p-1 rounded-5" type="button" value="Send">
            <a id="chat-message-invite" class="fas fa-solid fa-trophy" onclick="invite_game({{id_chat}})" link href="/game/{{id_chat}}"></a>
        </div>
    </section>
</div>
</main>
