.container {
    max-width: 800px;
    margin: 5rem auto;
    padding: 20px;
}

.chat-container {
    min-height: 100%;
    border: 3px solid #C3A5EC;
    background-color: #302D3D;
    border-radius: 10px;
    padding: 20px;
    justify-content: center; /* Centrar verticalmente */
    align-items: center;

}

.bracket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos comunes para los enfrentamientos */
.match {
    display: flex;
    flex-direction: column;
    background-color: #C3A5EC;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    overflow: hidden;
}

/* Estilos para la primera ronda */
.round1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

/* Estilos para la segunda ronda y la final */
.round2 {
    display: flex;
    flex-direction: column;
    background-color: #C3A5EC;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    overflow: hidden;
}

/* Estilos para los equipos */
.team {
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.button_tournament{
    background-color: #7857DC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: xx-large;
    border-radius: 20%;

}