{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<main class="conatiner container" id="main-container">
	<section class="row" id="section-undefined">
		<section class="col-sm-3" id="section-left">
			<h6>Empty</h6>
		</section>
		<section class="mt-5 text-light col-sm-6" id="section-center">
			<h1>Are you transcending?</h1>
			<form method="POST" id="form-undefined">
				<fieldset id="fieldset-undefined">
					<article class="row ps-3 pe-3 mt-3"
						id="article-email-undefined">
						<section class="col" id="section-email-undefined"><label
								for="email" class="form-label"
								id="label-email-undefined">Email
								address</label><input type="email"
								class="form-control" id="email" name="email">
						</section>
					</article>
					<article class="row ps-3 pe-3 mt-3"
						id="article-username-undefined">
						<section class="col" id="section-username-undefined">
							<label for="username-undefined" class="form-label"
								id="label-username-undefined">Username</label><input
								type="text" class="form-control"
								id="username-undefined"
								name="username-undefined"></section>
					</article>
					<article class="row ps-3 pe-3 mt-3"
						id="article-password-undefined">
						<section class="col" id="section-password-undefined">
							<label for="password-undefined" class="form-label"
								id="label-password-undefined">Password</label><input
								type="password" class="form-control"
								id="password-undefined"
								name="password-undefined"></section>
					</article>
					<article class="row ps-3 pe-3 mt-3"
						id="article-confirm-password-undefined">
						<section class="col"
							id="section-confirm-password-undefined"><label
								for="confirm-password-undefined"
								class="form-label"
								id="label-confirm-password-undefined">Confirm
								password</label><input type="password"
								class="form-control"
								id="confirm-password-undefined"
								name="confirm-password-undefined"></section>
					</article>
					<article class="row m-3" id="article-btn-undefined"><button
							class="btn-purple fw-bold p-1 rounded-5"
							id="btn--undefined" name="btn--undefined"
							type="submit">Create an account</button></article>
				</fieldset>
			</form>
			<section id="section-bottom">
				<p class="text-light p-undefined">Already have an account?</p><a
					href="{% url 'login' %}" class="mb-5 text-decoration-none a-undefined"
					id="a-undefined">Login</a>
			</section>
		</section>
		<section class="col-sm-3" id="section-right">
			<h6>Empty</h6>
		</section>
	</section>


<!-- TODO: Adapt the Django native form to Limones form-->
<!--
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Sign up</button>
    <a href="{% url 'login' %}">Already have an account?</a>
</form>
-->

<!-- HTML Render of the above form -->
<!--
<form method="post">
	<input type="hidden" name="csrfmiddlewaretoken" value="fs6QexavkSsxtA69I9SLykJZ2A5eIVDHgdK2vFUXVE34pYxkCS29B04Mhv6du2BP">
	<p>
    <label for="id_username">Username:</label>
    <input type="text" name="username" maxlength="100" autofocus="" required="" id="id_username">
  </p>
  <p>
    <label for="id_email">Email:</label>
    <input type="email" name="email" maxlength="200" required="" id="id_email">
      <span class="helptext">Required</span>
  </p>

  
  <p>
    <label for="id_password1">Password:</label>
    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
      <span class="helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
  <p></p>

  
  <p>
    <label for="id_password2">Password confirmation:</label>
    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
    
      <span class="helptext">Enter the same password as before, for verification.</span>
    
    
      
    
  </p>
	<button type="submit">Sign up</button>
    <a href="/accounts/login/">Already have an account?</a>
</form>
-->

</main>
{% endblock %}