<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game</title>
</head>
<body>
	<h1>Bienvenido al juego</h1>
	<h2 id="gameId"></h2>
	<p>Envía un movimiento</p>
	<input type="text" name="movement" id="movement">
	<input type="button" value="Send" id="submit">
    {{ game_id|json_script:"room-name" }}
	<script>
		const gameId = location.href.split("/")[4] ? location.href.split("/")[4] : "error";
		const gameSocket = new WebSocket(`ws://${window.location.host}/wss/game/${gameId}/`);

		gameSocket.onmessage = function(e) {
			const data = JSON.parse(e.data);
			console.log("Socket message:", data.movement);
		};

		gameSocket.onclose = function(e) {
			console.error("Game socket closed unexpectedly");
		};

		document.querySelector("#movement").focus();
		document.querySelector("#movement").onkeyup = function(e) {
			if (e.key === 'Enter') {
				document.querySelector("#submit").click();
			}
		};

		document.querySelector("#submit").onclick = function(e) {
			var movement = document.querySelector("#movement").value;
			gameSocket.send(JSON.stringify({
				"movement": movement
			}));
			document.querySelector("#movement").value = "";
		};
	</script>
</body>
</html>