{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game</title>
	<link rel="stylesheet" href="{% static 'resets.css' %}">
	<style>
		div {
			font-size: 0.8em;
			white-space: pre-wrap;
		}
		body {
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100vh;
		}
		#score {
			position: absolute;
			margin-top: 10%;
			width: 100%;
			text-align: center;
			z-index: 100;
			color: #a787fa;
			font-size: 5vw;
			font-family: monospace;
		}
		#game-container {
			font-size: 0.8em;
			display: flex;
			justify-content: center;
		}
	</style>
	<script type="importmap">
	{
		"imports": {
		"three": "https://unpkg.com/three@0.160.1/build/three.module.js",
		"three/addons/": "https://unpkg.com/three@0.160.1/examples/jsm/"
		}
	}
	</script>
</head>
<body>
	<script type="module" src="{% static 'main.js' %}"></script>
	<script>
		const gameId = location.href.split("/")[4] ? location.href.split("/")[4] : "error";
		const gameSocket = new WebSocket(`ws://${window.location.host}/wss/game/${gameId}/`);
		var player_id = "";
		var gamestate;

		gameSocket.onmessage = messageHandler;

		gameSocket.onclose = function(e) {
			console.error("Game socket closed unexpectedly");
		};

		function messageHandler(event) {
			const messageData = JSON.parse(event.data);
			if (messageData.type === "gamestate_update") {
				// draw gamestate on screen
				gamestate = messageData.gamestate;
			} else if (messageData.type === "player_join") {
				player_id = messageData.player_id;
			}
		}
		document.addEventListener(
			"keydown",
			(event) => {
				var name = event.key;
				if (name == "ArrowUp" || name == "w")
				{
					gameSocket.send(
						JSON.stringify({ movement: "up", player: player_id })
					)
				}
				if (name == "ArrowDown" || name == "s")
				{
					gameSocket.send(
						JSON.stringify({ movement: "down", player: player_id })
					)
				}
			},
			false,
		);
		document.addEventListener(
			"keyup",
			(event) => {
				var name = event.key;
				if (name == "ArrowDown" || name == "w")
				{
					gameSocket.send(
						JSON.stringify({ movement: "", player: player_id })
					)
				}
				if (name == "ArrowUp" || name == "s")
				{
					gameSocket.send(
						JSON.stringify({ movement: "", player: player_id })
					)
				}
			},
			false,
		);

	</script>
	<div id="game-container">
		<span id="score"></span>
	</div>
</body>
</html>