{% extends 'base.html' %}

{% block title %}Transcendence Chat{% endblock %}

{% block content %}
{% include 'nav.html' %}

<main class="container" id="main-container">
    <section class="row text-light col-sm-6">
        <h1>Transcendence chat page</h1>
        {% if user.is_authenticated %}
        <p>You are logged in as: {{ user.username }}</p>
        <p>Your email address is: {{ user.email }}</p>
        <div id="chat-container">
            <div id="chat-messages"></div>
            <input type="text" id="chat-input" placeholder="Type your message here...">
            <button onclick="sendMessage()">Send</button>
        </div>
        {% else %}
        <p>You are not logged in.</p>
        {% endif %}
    </section>
</main>

<script>
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/{{ room_name }}/');


    chatSocket.onmessage = function(event) {
        const message = JSON.parse(event.data);
        document.querySelector('#chat-messages').innerHTML += '<br>' + message.user + ': ' + message.message;
    };

    function sendMessage() {
        const messageInputDom = document.querySelector('#chat-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    }
</script>
{% endblock %}
