<main class="conatiner container" id="main-container">
		<section class="mt-5 text-light col-sm-6" id="section-center">
		<h1>Edit profile</h1>
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset id="fieldset-undefined">
					<article class="row ps-3 pe-3 mt-3"
						id="article-email-undefined">
						<section class="col" id="section-email-undefined">
							<label for="id_email" class="form-label" id="label-email-undefined">Email address</label>
							<input type="email" class="form-control" id="id_email" name="email" value="{{user.email}}">
						</section>
					</article>
					<article class="row ps-3 pe-3 mt-3"	id="article-username-undefined">
						<section class="col" id="section-username-undefined">
							<label for="id_username" class="form-label" id="label-username-undefined">Username</label>
							<input type="text" class="form-control" id="id_username" name="username" value="{{user.username}}"></section>
					</article>
					<article class="row ps-3 pe-3 mt-3"	id="article-password-undefined">
						<section class="col" id="section-password-undefined">
							<label for="id_old_password">Old Password</label>
							<input type="password" id="id_old_password" name="old_password">
						</section>
					</article>
					<article class="row ps-3 pe-3 mt-3"	id="article-confirm-password-undefined">
						<section class="col" id="section-password-undefined">
							<label for="id_new_password1">New Password</label>
							<input type="password" id="id_new_password1" name="new_password1">
						</section>
					</article>
					<article class="row ps-3 pe-3 mt-3"	id="article-confirm-password-undefined">
						<section class="col" id="section-password-undefined">
							<label for="id_new_password2">Confirm New Password</label>
        					<input type="password" id="id_new_password2" name="new_password2">
						</section>
					</article>
					<article class="row m-3" id="article-btn-undefined">
						<label class="small mb-1">Change Avatar:</label>
						{{ user_form.avatar }}
					</article>
					<article class="row m-3" id="article-btn-undefined">
						<button class="btn-purple fw-bold p-1 rounded-5" id="btn--undefined" name="btn--undefined" type="submit">Update profile</button>
					</article>
				</fieldset>
			</form>
		</section>
	</section>
</main>
