{% load accounts_extra %}

<aside class="col-3" id="section-profile-right">
	<h3>Online friends</h3>
	<input type="hidden" id="csrf-token" value="{{ csrf_token }}">
	<div class="scroll">
	{% for friend in friends %}
	<section class="row friends-record">
			<article><img class="friends-avatar" src="/static/img/avatars/{{ friend.avatar }}"></article>
			<article>{{ friend.username }}</article>
			<article><a link href="{% url 'profile' friend.username %}" class="fas fa-user"></a></article>
			<article><a link href="{% url 'sala' user1=friend.username user2=user.username %}" class="fas fa-inbox" target="_blank"></a></article>
			<article><a class="fas fa-user-lock" onclick="window.block_friend_name('{{friend.username}}')" style="color: #ee5353;"></a></article>
			{% if friend.last_login|isOnline%}
				<article><i class="fas fa-circle" style="color: green;"></i></article>
			{% else %}
				<article><i class="fas fa-circle" style="color: #867b7b;"></i></article>
			{% endif %}
		</section>
	{% endfor %}
	{% for invite, player in pending_invites %}
	<section class="row friends-record">
		<article><img class="friends-avatar" width="24px" height="24px" src="/static/img/avatars/{{ player.avatar }}"></article>
		<article>{{ player.username }}</article>
		<article><a link href="{% url 'profile' player.username %}" class="fas fa-user"></a></article>
		<article><a class="fas fa-user-check" onclick="window.accept_friend('{{invite}}')" style="width: fit-content;"></a></article>
		<article><a class="fas fa-user-lock" onclick="window.block_friend('{{invite}}')" style="width: fit-content; color: #ee5353;"></a></article>
	</section>
	{% endfor %}
	<h3>Add a new friend</h3>
	<section class="row friends-record">
		<input type="text" id="username_find" class="form-control" name="user_find" required style="max-width: 14vw;">
		<article><a class="fas fa-binoculars" onclick="window.find_user(document.getElementById('username_find').value)"></a></article>
	</section>
	</div>
</aside>