{% include 'messages_modal.html' %}

<main>
	<section id="home-buttons-container">
		<a link href="/matchmaking/" class="home-button" style="text-decoration: none;>
			<article class="home-option" id="matchmaking">
				<div class="title-option">
					<div class="title-img-container">
						<img src="/static/img/matchmaking.png" alt="">
					</div>
					<p>Matchmaking</p>
				</div>
			</article>
		</a>
		<a link href="#" class="home-button" style="text-decoration: none;">
			<article class="home-option" id="tournament-mode">
				<div class="title-option">
					<div class="title-img-container">
						<img src="/static/img/tournament.png" alt="">
					</div>
					<p>Tournament mode</p>
				</div>
			</article>
		</a>
	</section>
</main>
