{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ft_transcendence</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stylesProfile.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesForms.css' %}">
	<link rel="stylesheet" href="{% static 'game_files/game.css' %}">
	<link rel="stylesheet" href="{% static 'game_files/tournament.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<script>
		blockNavigation = false;
		isChatting = false;
	</script>
</head>

<body style="background-image: url({% static 'img/background.png' %}); background-color: #110E1F; background-position: center top; background-size: 100% auto;">
	<script type="module" src="{% static 'game_files/main.js' %}"></script>
	<script type="module" src="{% static 'tournament_files/main2.js' %}"></script>
	<script type="module" src="{% static 'chat_files/main.js' %}"></script>
	<script src="{% static 'friends/main.js' %}"></script>
	{% include 'nav.html' %}

	<div id="transcendence-container">
		<div style="height: calc(100vh - 5em); width: 100%;" id="transcendence-app"></div>
		<div id="transcendence-panel">
			<div id="transcendence-sidebar">
				{% include 'friends_panel.html' %}
			</div>
		</div>
	</div>
	{% include 'messages_modal.html' %}
	<script>
	function handleClickNavigation(event) {
    	const targetLink = event.target.closest('a[link]');
		if (targetLink)
		{
			event.preventDefault();
			if (blockNavigation)
				return ;
			if (isChatting)
				close_chat();
			const href = targetLink.getAttribute('href');
			if (href !== window.location.pathname)
			{
				history.pushState({ path: href }, '', href);
				if (href === "/")
        			loadPage("/home");
				else
					loadPage(href);
			}
		}
	}

	function handleArrowsNavigation(href) {
		if (blockNavigation)
			return ;
		// console.log("Going into arrows");
		// console.log(href);
		if (href === "/")
			loadPage("/home");
		else
			loadPage(href);
 	}

	function loadPage(href) {
		fetch(href)
		.then(response => response.text())
		.then(html => {
				document.querySelector('#transcendence-app').innerHTML = html;
			})
			.catch(error => console.error('Error when going to ', href, error));
	};

	function loadPanel(href) {
		fetch(href)
		.then(response => response.text())
		.then(html => {
				document.querySelector('#transcendence-sidebar').innerHTML = html;
				if (document.querySelector("#new-friend") === null)
				{
					var add_friend = document.createElement("div");
					add_friend.id = "add-friend-container";
					add_friend.innerHTML = `
							<section id="new-friend">
									<h3>Add a new friend</h3>
									<section class="row friends-record2">
										<input type="text" id="username_find" class="form-control" name="user_find">
										<article><a class="fas fa-binoculars" onclick="window.find_user(document.getElementById('username_find').value)"></a></article>
									</section>
								</section>`.trim();
					document.querySelector("#transcendence-panel").appendChild(add_friend);
				}
			})
			.catch(error => console.error('Error when going to ', href, error));
	}

    document.addEventListener('click', handleClickNavigation);

	function handleInitialLoad() {
        const currentPath = window.location.pathname;
        loadPage("/home");
    };

	function hide_sidebar() {
		var status = document.querySelector("#transcendence-panel").className;
		if (status === "hidden")
			document.querySelector("#transcendence-panel").className = "";
		else
			document.querySelector("#transcendence-panel").className = "hidden";
	}

 	document.addEventListener('DOMContentLoaded', handleInitialLoad);

	window.addEventListener('popstate', (event) => {
		// console.log(event);
		if (event.state.path)
			handleArrowsNavigation(event.state.path);
	});

	window.onbeforeunload = function (e) {
		e.preventDefault();
		return false;
	};

	function handleStartMatchmaking(event)
	{
		event.preventDefault();
		event.stopPropagation();
		window.blockNavigation = true;
		event.target.onclick = null;
		event.target.innerText = "Searching...";
		searchMatch();
	}

	loadPanel("/accounts/friends_panel/");
	// Long polling to check if the friends got updated
	setInterval(loadPanel, 5000, "/accounts/friends_panel/");
	</script>
</body>
</html>