{% load static %}

<main class="container" id="main-container">
    <section class="matchmaking-display">
        <section class="match-display">
            <div>
                <p id="mm-player1" class="text">{{user.username}}</p>
                <img id="mm-avatar-player1" src="/static/img/avatars/{{user.avatar}}">
            </div>

            <p class="text vs-text">vs</p>
        
            <div id="mm-enemy-box" class="no-display">
                <p id="mm-player2" class="text">{{user.username}}</p>
                <img id="mm-avatar-player2" src="/static/img/avatars/{{user.avatar}}">
            </div>

            <div id="loader-tournament" class="loader">
            </div>
        </section>
        
        <a link id="button-tournament" class="home-search-button" onclick="handleStartMatchmaking(event)">Start Matchmaking</button>
    </section>
</main>