{% load static %}

<main class="container" id="main-container">
    <section class="matchmaking-display">
        <section class="match-display">
            <div>
                <p id="mm-player1" class="text">{{user.username}}</p>
                <img id="mm-avatar-player1" src="/{{user.avatar}}">
            </div>

            <p class="text vs-text">vs</p>
        
            <div id="mm-enemy-box" class="no-display">
                <p id="mm-player2" class="text">{{user.username}}</p>
                <img id="mm-avatar-player2" src="/{{user.avatar}}">
            </div>

            <div id="loader-tournament" class="loader">
            </div>
        </section>
        <div class="matchmaking-buttons">
            <a link id="button-tournament" class="home-search-button" onclick="handleStartMatchmaking(event)">Start Matchmaking</a>
            <a link id="button-ia" class="home-search-button disabled" href="/game/game3/1">vs IA</a>    
        </div>
    </section>
</main>