{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark " id="menu">
	<article class="container-fluid" id="article-nav">
		<a class="navbar-brand" href="/">ft_transcendence</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toogle navigation" id="navButton">
			<span class="navbar-toggler-icon"></span>
		</button>
		<section class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<a class="nav-link btn ms-4 me-3" id="home" href="/">
				<p>Home</p>
			</a>
			<a class="nav-link btn" id="profile" href="{% url 'profile' %}">
				<p>Profile</p>
			</a>
			<a class="nav-link btn " id="icon-users" href="#">
				<img src="{% static 'img/Users.png' %}" alt="Icon users">
			</a>
			<span class="span-profile pe-3 position-absolute me-2 end-0" id="span-profile">
				<a class="img-profile p-0 text-decoration-none" id="user-account" href="{% url 'profile' %}">
					<picture class="picture" id="picture">
						<img class="img-user" id="img-user" src="{{ user.avatar|default:'/static/img/icon1.png' }}" alt="undefined">
					</picture>
					<span class="span-img d-inline-block" id="span-img">{{ user.username }}</span>
				</a>
			</span>
		</section>
	</article>
</nav>