{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark " id="menu">
	<article class="container-fluid" id="article-nav">
		<a link class="navbar-brand" href="/">ft_transcendence</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toogle navigation" id="navButton">
			<span class="navbar-toggler-icon"></span>
		</button>
		<section class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<a link class="nav-link btn ms-4 me-3" id="home" href="/">
				<p>Home</p>
			</a>
			<a link class="nav-link btn me-3 nav-button" href="{% url 'profile' user.username %}">
				<p>Profile</p>
			</a>
			<!-- <a link class="nav-link btn me-3 nav-button" href="/game/game3/1">
				<p>Game vs AI</p>
			</a> -->
			<a class="nav-link btn me-3 nav-button" href="/accounts/logout/">
				<p>Logout</p>
			</a>
			<button class="nav-link btn " id="icon-users" onclick="hide_sidebar()">
				<img src="{% static 'img/Users.png' %}" alt="Icon users">
			</button>
			<span class="span-profile pe-3 position-absolute me-2 end-0" id="span-profile">
				<a link class="img-profile p-0 text-decoration-none" id="user-account" href="{% url 'profile' user.username %}">
					<div class="picture" id="picture">
						<img class="img-user" id="img-user" src="/static/img/avatars/{{ user.avatar }}" alt="undefined">
					</div>
					<span class="span-img d-inline-block" id="span-img">{{ user.username }}</span>
				</a>
			</span>
		</section>
	</article>
</nav>