{% extends 'base.html' %}

{% block title %}{{ user.username }} profile{% endblock %}

{% block content %}

{% include 'nav.html' %}

<main class="container" id="main-container">
	<section class="row text-light col-sm-6">
	<!-- Campos de prueba, es para poder probar ya las partidas entre jugadores logueados -->
    <h2>User Profile</h2>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Avatar: {{ user.avatar }}</p>
    <p>Fecha de registro: {{ user.registerDate }}<p>
    <p>Ultimo login: {{user.last_login}}
    <p>Activo: {{user.is_active}}<p>
    <br><br><br>
    <!--Logout -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    <ul>
        {% for usuario in usuarios %}
            <li>{{ usuario.is_active }}</li>
        {% endfor %}
    </ul>
    <p>hola<p>
{% endblock %}