<main class="container" id="main-container">
    <div>
        <section class="chat-container">
            <div class="bracket">
                <div class="round1">
                    <div class="match">
                        <div class="team1">Player1<br>Player2</div>
                    </div>
                    <div class="match">
                        <div class="team2">Player3<br>Player4</div>
                    </div>
                </div>
                <div class="round2">
                    <div class="match">
                        <div class="team3">Final</div>
        			</div>
            	</div>
                <button class="button_tournament" onclick="window.join_tournament()">Next</button>
            </div>
        </section>
    </div>
</main>
