{% load static %}

<main class="container" id="main-container">
    <section class="tournament-display">
        <div class="tournament-selection">
            <button id="4players-button"  class="tournament-selection-button" onclick="handleSelectPlayersTournament()">
                4 players
            </button>
            <button id="8players-button"  class="tournament-selection-button" onclick="handleSelectPlayersTournament()">
                8 players
            </button>
            <button id="16players-button" class="tournament-selection-button" onclick="handleSelectPlayersTournament()">
                16 players
            </button>
        </div>

        <section id="four-players-tournament" class="tournament-table no-display">
            <h2>Tournament Mode</h2>
            <hr class="tournament-separator">

            <div  class="col-matches-disposition">
                <div class="first-bracket"> <!-- First bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>
                <div class="second-bracket"> <!-- Second bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>
                <div class="third-bracket"> <!-- Second bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>

                <div id="first-col4" class="col4 first-column"> <!-- Primera columna-->
                    <div id="first-match-4" class="match-col4">
                            <div>
                                <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                                <div class="loader2 status-img"></div>
                                <p>Undefined</p>
                            </div>
                            <hr>
                            <div>
                                <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                                <div class="loader2 status-img"></div>
                                <p>Undefined</p>
                            </div>   
                        </div>
                    
                    <div id="second-match-4" class="match-col4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>   
                    </div>
                    
                    <div id="third-match-4" class="match-col4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p></div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>   
                    </div>
                    
                    <div id="fourth-match-4" class="match-col4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p></div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>   
                    </div>
                </div> <!-- Acaba primera columna-->

                <div class="col4"> <!-- Segunda columna -->
                    <div class="match-col4 second-col-4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                            </div>   
                    </div>
                
                    <div class="match-col4 second-col-4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>   
                    </div>
                </div> <!-- Acaba segunda columna -->

                <div class="col4">
                        <div class="match-col4 third-col-4"> <!-- Tercera columna -->
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>Undefined</p>
                        </div>
                    </div>
                </div> <!-- Acaba tercera columna -->
            </div>

        </section>
    </section>
</main>