{% load static %}

<main class="container" id="main-container">
    <section class="tournament-display">
        <div class="tournament-selection">
            <button id="4players-button"  class="tournament-selection-button">4 players</button>
            <button id="8players-button"  class="tournament-selection-button">8 players</button>
            <button id="16players-button" class="tournament-selection-button">16 players</button>
        </div>

        <section class="tournament-table">
            <h2>Tournament Mode</h2>
            <hr class="tournament-separator">

            <div  class="col-matches-disposition">
                <div class="first-bracket"> <!-- First bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>
                <div class="second-bracket"> <!-- Second bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>
                <div class="third-bracket"> <!-- Second bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>

                <div class="col4 first-column"> <!-- Primera columna-->
                    <div class="match-col4">
                            <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 1</p></div>
                            <hr>
                            <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 2</p></div>   
                        </div>
                    
                    <div class="match-col4">
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 3</p></div>
                        <hr>
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 4</p></div>   
                    </div>
                    
                    <div class="match-col4">
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 5</p></div>
                        <hr>
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 6</p></div>   
                    </div>
                    
                    <div class="match-col4">
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 7</p></div>
                        <hr>
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 8</p></div>   
                    </div>
                </div> <!-- Acaba primera columna-->

                <div class="col4"> <!-- Segunda columna -->
                    <div class="match-col4 second-col-4">
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 1</p></div>
                        <hr>
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 2</p></div>   
                    </div>
                
                    <div class="match-col4 second-col-4">
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 3</p></div>
                        <hr>
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 4</p></div>   
                    </div>
                </div> <!-- Acaba segunda columna -->

                <div class="col4">
                        <div class="match-col4 third-col-4"> <!-- Tercera columna -->
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 3</p></div>
                        <hr>
                        <div><img src="/static/img/undefined.png" alt="Imagen resultado"><p>Nombre 4</p></div>
                    </div>
                </div> <!-- Acaba tercera columna -->
            </div>

        </section>
    </section>
</main>