{% load static %}

<main class="container" id="main-container">
    <section class="tournament-display">

        <section id="eight-players-tournament" class="tournament-table">
            <h2>Tournament Mode</h2>
            <hr class="tournament-separator">

            <div  class="col-matches-disposition">
                <div class="first-bracket"> <!-- First bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>
                <div class="second-bracket"> <!-- Second bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>
                <div class="third-bracket"> <!-- Second bracket --> 
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                    <hr class="upper-bracket-horizontal4">
                </div>

                <div id="first-col4" class="col4 first-column"> <!-- Primera columna-->
                    <div id="first-match-4" class="match-col4">
                            <div>
                                <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                                <div class="loader2 status-img"></div>
                                <p>undefined</p>
                            </div>
                            <hr>
                            <div>
                                <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                                <div class="loader2 status-img"></div>
                                <p>undefined</p>
                            </div>   
                        </div>
                    
                    <div id="second-match-4" class="match-col4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>   
                    </div>
                    
                    <div id="third-match-4" class="match-col4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p></div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>   
                    </div>
                    
                    <div id="fourth-match-4" class="match-col4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p></div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>   
                    </div>
                </div> <!-- Acaba primera columna-->

                <div id="second-col4" class="col4"> <!-- Segunda columna -->
                    <div class="match-col4 second-col-4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                            </div>   
                    </div>
                
                    <div class="match-col4 second-col-4">
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>   
                    </div>
                </div> <!-- Acaba segunda columna -->

                <div class="col4">
                        <div class="match-col4 third-col-4"> <!-- Tercera columna -->
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>
                        <hr>
                        <div>
                            <img class="no-display status-img" src="/static/img/undefined.png" alt="Imagen resultado">
                            <div class="loader2 status-img"></div>
                            <p>undefined</p>
                        </div>
                    </div>
                </div> <!-- Acaba tercera columna -->
            </div>

        </section>

        <a link id="tournament-button" class="tournament-selection-button" onclick="handlePlayerTournament(event)">
            Start Matchmaking
        </a>
    </section>
</main>