* {
    font-family: 'IBM Plex Mono';
    font-weight: 600;
}
body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #f5f5f5;
    justify-content: center;
    margin: auto;
}

h6 {
    display: none;
}

.span-profile {
    display: none;
}

/* MENU RESPONSIVE */

@media screen and (min-width: 990px) {
    .user-account {
        display: inline-flex;
        align-items: center;
        border: 2px solid #007bff;
        padding: 5px 10px; 
        height: 40px; 
    }

    .user-account {
        max-height: 100%;
        height: 100%;
        width: auto;
        margin-right: 10px; 
    }

    /* NAV */
    #menu {
        border-bottom: 3px solid #C3A5EC;
        height: 5em;
        background-color: #202646;
    }

 
    
    section > a{
        font-size: 16px;
        max-height: 2em;
        width: 8em;
        justify-content: center;
    }

    /* BUTTON USER*/
    .span-profile {
        display:grid;
        max-height: 2em;
        min-width: 15em;
        border: 1px solid #f5f5f5;
        border-radius: 7px;
        background-color: #3AAEE0;
    }



    .span-img {
        color: #f5f5f5;
        max-width: 6em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        top: 2px;
    }

    #img-user {
        position: relative;
        top: -5px;
        left: -2px;
        width: 2em;
    }

    /* BUTTON HOME */

    a > p {
        color: white;
        position: relative;
        margin: 0;
        top: -7px;
        
    }

    #home {
        background-color: #C3A5EC;
    }

    .nav-button {
        background-color: #7857DC;
        color: white;
    }

    #icon-users {
        position: absolute;
        right: 13em;
        top: 1em;
    }
}
/* LOGIN */

h1 {
    width: 80%;
}

article > h3 , article > section > h3{
    display: none;
}

fieldset, .login, #section-bottom {
    border: 3px solid #495057;
    border-radius: 15px;
    background-color: #212429;
}

#section-bottom {
    margin-top: 1em;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.p-logup {
    margin-bottom: 0px;
}

.a-logup {
    font-size: 15px;
}

.login {
    text-align: center;
    background-color: black;
}

.form-control {
    background-color: #495057;
    color: white;
}

.form-control:focus {
    background-color: #495057;
    color: white;
}

section>h1 {
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

article > section > a {
    font-size: 8px;
}

article section input{
    height: 2em;
}

.btn-purple {
    background-color: #7858DC;
    border-radius: 7px;
    color: white;
}

.form-error {
    font-size: 14px;
    text-align: center;
    color: #F03D3E;
}

.no-margin {
    margin: 0;
}